/* This is the only place where colors may be defined */

$artiz-text-white: #EFF6FF; 
$artiz-text-grey: #4D4D4D;
$artiz-text-darkgrey: #4D4D4D;

$artiz-solid-video: #E8919A;

$artiz-solid-blue: #397BD5;
$artiz-solid-lightred: #FF7969;
$artiz-solid-red: #EF7162;
$artiz-solid-green: #62EFA7;
$artiz-solid-lightblue: #ECF4FF;