/* Variables */
$default-block-height: 500px;

/* Imports */
@import 'colors';

/* Start tokensale */
.tokensale {

	background-color: $artiz-solid-red;

	display: relative;

	margin-bottom: -50px;
	&::before {

	    content: "";
	    display: block;
	    width: 110%;
	    background-color: $artiz-solid-red;
	    height: 100px;
	    margin-top: -50px;
	    margin-left: -5%;

	    position: absolute;

	    transform: rotate(-2.7deg);

	}

	.col-12 {

		position: relative;
		z-index: 90;

	}

	.videoPlayer {

		text-align: center;
		margin-top: 25px;
		padding-bottom: 50px;

		max-width: 100% !important;

		iframe {

			box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.34);
			max-width: 100% !important;

		}

	}

	h2, h3 {

		text-transform: uppercase;
		color: $artiz-text-white;
		font-weight: 400;

		letter-spacing: 3.7px;

		font-size: 40px;

		margin: 0;
		padding: 0;

		text-align: center;

	}

	h2 {

		font-weight: 400;

	}

	h3 {

		font-size: 30px;
		letter-spacing: 1px;

	}

	.countdown {

		color: $artiz-text-white;
		font-weight: 200;

		letter-spacing: 3.7px;
		margin-top: 50px;

		.timepair {

			margin: 0 2%;
			line-height: 25px;

			width: 90px;

			text-align: center;

			font-family: Helvetica, Arial, sans-serif;
		}

		div.separator {

			margin-top: -40px;

			font-family: Helvetica, Arial, sans-serif;

		}

		span.value,
		div.separator {

			font-size: 70px;

		}

		span.keyword {

			display: block;
			letter-spacing: 0;

			text-align: center;

		}


	}

	.buttons {

		margin-bottom: 250px;

		> .button {

	    	margin: 15px;

	    }

    }

}
/* Stop tokensale */


/* Start what_is_artiz */
.what_is_artiz {

	background-color: $artiz-solid-lightblue;
	min-height: $default-block-height + 200px;

	overflow: visible;

	margin-bottom: -50px;
	padding-bottom: 100px;
	&::before {

	    content: '';
	    display: block;
	    width: 110%;
	    background-color: $artiz-solid-red;
	    height: 400px;
	    margin-top: -250px;
	    margin-left: -5%;

	    position: absolute;

	    transform: rotate(2.7deg);

	    background-image: url('../images/rocket_1.svg');
	    background-origin: top left;
	    background-position: calc(50vw + 5% + 20px + 30px) 0px;
	    background-repeat: no-repeat;
	    background-size: 380px;
	    z-index: 80;

	}

	> * {

		margin-top: 140px;

	}

	.content {

		h3 {

			text-transform: uppercase;
			color: $artiz-text-darkgrey;
			font-weight: 400;

			letter-spacing: 3.7px;

			font-size: 20px;

			max-width: 100%;
			width: 400px;

		}

		p {

			max-width: 400px;
			padding-right: 50px;
			text-align: left;

			letter-spacing: 1px;
			font-size: 90%;

		}

		.buttons {

			max-width: 100%;
			width: 400px;

			.button {

				width: 160px;

				&:hover {

					.icon {

						background-color: $artiz-text-white;

					}
				}

				.icon {

					width: 15px;
					height: 20px;

					margin-right: 10px;

					display: inline-block;

					background-color: $artiz-solid-blue;
					mask: url(../images/icons/whitepaper.svg) no-repeat center 0;
					mask-size: 15px;

					vertical-align: middle;

				}

			}

		}

		img {

			max-width: 80%;
			margin: 30px auto;

		}

	}

	.content_image {

		> img {

			position: relative;
			z-index: 91;


			width: 420px;
			
			top: 17%;

			position: relative;
			left: -15px;

		}

	}

}
/* Stop what_is_artiz */


/* Start invest */
.invest {

	background-color: $artiz-solid-blue;
	min-height: $default-block-height + 50px;

	background-image: url('../images/coins.png');
	background-position: center 30%;
	background-repeat: no-repeat;
	background-size: 200px;

	overflow: visible;

	margin-bottom: -50px;

	> * {

		margin-bottom: 140px;

	}

	&::before {

	    content: "";
	    display: block;
	    width: 110%;
	    background-color: $artiz-solid-blue;
	    height: 100px;
	    margin-top: -50px;
	    margin-left: -5%;

	    position: absolute;

	    transform: rotate(2.7deg);

	}

	.content {

		h3 {

			text-transform: uppercase;
			color: $artiz-text-white;
			font-weight: 400;

			letter-spacing: 3.7px;

			font-size: 20px;

			max-width: 100%;
			width: 400px;

		}

		p {

			max-width: 400px;
			text-align: left;
			color: $artiz-text-white;

			padding-right: 100px;

			letter-spacing: 1px;
			font-size: 90%;

			min-height: 155px;

		}

		&.right {

			h3 {

				padding-left: 100px;
				width: 370px;
			}

			p {

				padding-right: auto;
				max-width: 400px;
				padding-left: 100px;
				padding-right: 0;


			}

		}

	}

}
/* Stop invest */

/* Start about_the_app */
.about_the_app {

	background-color: $artiz-solid-lightblue;
	min-height: $default-block-height;

	overflow: visible;

	margin-bottom: -50px;

	> * {

		margin-bottom: 140px;

	}

	&::before {

	    content: "";
	    display: block;
	    width: 110%;
	    background-color: $artiz-solid-lightblue;
	    height: 100px;
	    margin-top: -50px;
	    margin-left: -5%;

	    position: absolute;

	    transform: rotate(2.7deg);

	}

	.content {

		h3 {

			text-transform: uppercase;
			color: $artiz-text-darkgrey;
			font-weight: 400;

			letter-spacing: 3.7px;

			font-size: 20px;

			max-width: 100%;
			width: 400px;

		}

		p {

			max-width: 400px;
			text-align: left;
			color: $artiz-text-darkgrey;

			padding-right: 50px;

			letter-spacing: 1px;
			font-size: 90%;

		}

		ul {

			list-style: none;
			margin: 0;
			padding: 0;

			max-width: 100%;
			width: 400px;

			color: $artiz-text-darkgrey;
			font-size: 90%;
			letter-spacing: 1.5px;

			margin-top: 50px;

			li {

				padding-left: 35px;
				margin: 12px 0;

				line-height: 20px;

				background-image: url('../images/icons/tick.svg');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 20px;

			}

		}

	}

	.carouselContainer {

		padding-left: 90px;
		height: 600px;

		margin-top: 80px;

		#carouselApp {

			width: 250px;

			.phoneOverlay {

				position: relative;
				z-index: 80;

				img {

					width: 250px;

				}

			}

			.carousel-item {

				img {

					width: 250px - 25px - 25px;
					margin-top: 63px;
					margin-left: 25px;

				}

			}

			.carousel-control-prev,
			.carousel-control-next {

				opacity: 1;

				img {

					width: 20px;

				}
			}

			.carousel-control-prev {

				left: -80px;

			}

			.carousel-control-next {

				right: -80px;

			}

			.carousel-indicators {

				padding: 0;
				margin: 0;

				margin-bottom: -100px; 

				li {

					width: 15px;
					height: 15px;

					background-color: transparent;
					background-image: url('../images/icons/bullet_empty.svg');
					background-repeat: no-repeat;
					background-size: cover;

					&.active {

						background-image: url('../images/icons/bullet_full.svg');
						background-color: transparent;

					}

				}
			}

		}

	}

}
/* Stop about_the_app */


/* Start about_the_token */
.about_the_token {

	background-color: $artiz-solid-red;
	min-height: $default-block-height;

	overflow: visible;

	margin-bottom: -50px;

	> * {

		margin-bottom: 140px;

	}

	&::before {

	    content: "";
	    display: block;
	    width: 110%;
	    background-color: $artiz-solid-red;
	    height: 100px;
	    margin-top: -50px;
	    margin-left: -5%;

	    position: absolute;
	    transform: rotate(2.7deg);

	}

	.content {

		h3 {

			text-transform: uppercase;
			color: $artiz-text-white;
			font-weight: 400;

			letter-spacing: 3.7px;

			font-size: 20px;

			max-width: 100%;
			width: 400px;

		}

		p {

			max-width: 400px;
			text-align: left;
			color: $artiz-text-white;

			padding-right: 50px;

			letter-spacing: 1px;
			font-size: 90%;

		}

	}

	.image {

		div {

			max-width: 400px;
			text-align: right;

			img {

				width: 50%;

			}

		}

	}

}
/* Stop about_the_token */


/* Start team */
.team {

	background-color: $artiz-solid-lightblue;
	min-height: $default-block-height;

	overflow: visible;

	margin-bottom: -50px;
	padding-bottom: 50px;

	&:not(.noPre)::before {

	    content: "";
	    display: block;
	    width: 110%;
	    background-color: $artiz-solid-lightblue;
	    height: 100px;
	    margin-top: -50px;
	    margin-left: -5%;

	    position: absolute;

	    transform: rotate(-2.7deg);

	}

	.title {

		position: relative;
		z-index: 94;

		h3 {

			text-transform: uppercase;
			color: $artiz-solid-red;
			font-weight: 400;

			letter-spacing: 3.7px;

			font-size: 40px;

			text-align: center;

			margin: 0 0 20px 0;

		}

	}

	.innerTeam {

		width: 90%;
		max-width: 825px;
		margin: auto;

	}

	.head {

		margin-bottom: 30px;

		> div {

			width: 200px;

			img {

				width: 100%;
				margin-bottom: 20px;
			}

			.name,
			.role {

				font-weight: 400;
				line-height: 30px;

				text-align: center;

				&.smaller {

					font-size: 85%;
					letter-spacing: -0.5px;

				}

			}

			.icon {

				width: 25px;
				margin-top: 5px;

			}

		}

	}

}
/* Stop team */


/* Start footer */
.footer {

	background-color: $artiz-solid-blue;

	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;

    > img.logo {

    	height: 80px;
    	width: 80px;

    	margin: 30px 0;

    }

    ul {

    	list-style: none;
    	margin: 0;
    	padding: 0;

    }

    h2 {

    	text-transform: uppercase;
    	letter-spacing: 6.3px;
    	color: $artiz-text-white;
    	margin-bottom: 30px;

    	font-size: 40px;

    	text-align: center;
    }

    nav {

    	ul.items {

    		display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: flex-start;
			align-items: center;

			margin: 0 15px 30px 15px;

			li {

				a {

					text-transform: uppercase;
					color: $artiz-text-white;
					font-weight: 100;

				}
			}

    	}

    	ul.icons {

    		margin: 0 -20px;

    		display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    align-content: flex-start;
		    align-items: flex-start;

			&::after {

				content: '';
				width: 100%;

			}

    		li {

    			margin: 0 35px 35px 35px;

    			img {

		    		height: 30px;

    			}

    		}

    	}

    }

    .copyright {

    	padding: 0 0 15px 0;
    	font-size: 12px;
    	color: $artiz-text-white;

    }

}
/* Stop footer */

.faq {

	margin-top: 80+50px;
	margin-bottom: 50px;

	.innerFaq {

		width: 90%;
		max-width: 825px;
		margin: auto;

	}

	.card {

		margin-bottom: 20px;
		border-radius: 0;
		border: none;

		background-color: $artiz-solid-blue;
		color: $artiz-text-white;

		&.active .card-header {

			background-color: $artiz-solid-red;
			border-bottom: 0;

		}

		.card-header a {

			color: $artiz-text-white;
			text-decoration: none;

		}

		.card-body {

			background-color: $artiz-solid-lightred;

		}

	}


}


@media (max-width: 768px) { 

	nav.main ul.items {

		padding-left: 0; 

		li a {

			border-bottom: 2px solid transparent !important;

		}

	}

	section.introduction.row {

		background-image: url('../images/photos/mobile-bg-header.jpg');

		div.intro h1 {

			text-align: left;
			font-size: 9vw;
			line-height: 8vw;

			margin-top: 100px;
			margin-bottom: 30px;

			white-space: nowrap;

		}

		> .buttons > .button {

			margin-bottom: 10px;
			margin-top: 0;

		}

	}

	section.tokensale.row div.buttons {

		margin-bottom: 50px;

	}

	section.what_is_artiz {

		&::before {

			background-image: none !important;
			height: 100px;
			margin-top: -50px;

		}

		div.content {

		 	justify-content: center !important;
		    align-content: center !important;
		    align-items: center !important;

		    p,
		    h3 {

		    	padding: 0 !important;
		    	margin:  0 !important;

		    	width: 80% !important;
		    	max-width: 80% !important;

		    }

		    .buttons {

		    	margin-top: 2em;

		    	width: 80% !important;
		    	max-width: 80% !important;

		    	display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-content: center;
			    align-items: center;

		    }

		}

	}

	section.invest {

		background-size: 100px;
		background-position: center 35%;

		div.content {

			justify-content: center !important;
		    align-content: center !important;
		    align-items: center !important;

		    p,
		    h3 {

		    	padding: 0 !important;
		    	margin:  0 !important;

		    	width: 80% !important;
		    	max-width: 80% !important;

		    }

		}

	}

	section.about_the_app {


		div.content {

			justify-content: center !important;
		    align-content: center !important;
		    align-items: center !important;

		    p,
		    h3,
		    ul {

		    	padding: 0 !important;
		    	margin:  0 !important;

		    	width: 80% !important;
		    	max-width: 80% !important;

		    }

		    ul {

		    	margin-top: 50px !important;

		    }

		}

		div.carouselContainer {

			margin-top: -100px;
			padding-left: 0;
			padding-right: 0;

			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: center;
		    align-items: flex-start;

			#carouselApp {

				.carousel-control-prev {

					left: -35px;

				}

				.carousel-control-next {

					right: -35px;

				}

			}

		}

	}

	section.about_the_token {


		div.content {

			justify-content: center !important;
		    align-content: center !important;
		    align-items: center !important;

		    margin-bottom: 50px !important;

		    p,
		    h3 {

		    	padding: 0 !important;
		    	margin:  0 !important;

		    	width: 80% !important;
		    	max-width: 80% !important;

		    }

		}

	    .image div {

	    	width: 100% !important;

	    	text-align: center !important;

	    }

	}

	section.team.row div.innerTeam div.head {

		justify-content: center !important;
	    align-content: center !important;
	    align-items: center !important;

	}

	footer.footer {

		h2 {

			font-size: 6vw;
			line-height: 5vw;

			letter-spacing: 1px;

		}

		nav {

			width: 90% !important;

			.items {

				margin-left: 0 !important;
				margin-right: 0 !important;
			}

			.icons {

				width: 100%;

				display: flex;
			    flex-direction: row;
			    justify-content: space-between;
			    align-content: space-between;
			    align-items: center;

				margin: 0 0 30px 0 !important;

				li {

					margin: 0;
					padding: 0;

				}

			}

		}

	}

}




